form {
    margin-bottom: 20px;
}

.inforuser {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-binhluan {
    padding: 10px;
    font-size: 25px;
}

.btn-binhluan {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #0f3460;
    color: #ffffff;
}

.comment b {
    font-size: 20px;
}

.btn-binhluan b {
    font-size: 15px;
}

.icon-user {
    width: 50px;
}