.man {
    text-align: center;
    width: 100%;
    height: auto;
    padding: 0px 0px auto;
}

.link {
    text-decoration: none;
}

.icon {
    color: rgb(13, 198, 13);
    font-size: 100px;
    
}

// .button {

// }