form {
    margin-bottom: 20px;
}

.inforuser {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.inforuser h3 {
    padding: 0 0 0 10px;
    margin: 0;
}

.input-binhluan {
    padding: 10px;
    font-size: 16px;
}

.btn-binhluan {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #0f3460;
    color: #ffffff;
}

.icon-user {
    font-size: 20px;
}