.logout {
    align-items: center;
    display: flex;
    justify-content: center;
 

    .buttonLogout {
        background-color: initial !important;
        border: none;
        // margin-right: 10px;
        margin-left: 20px;
        font-size: 18px;
        font-weight: 500;
        color: var(--black);
    }
    .icon-logout{
        width: 24px;
        height: 24px;
    }
}
