.man {
    text-align: center;
    width: 100%;
    height: auto;
    padding: 0px 0px auto;
}

.link {
    text-decoration: none;
    color: rgb(0, 142, 237);
    font-size: 18px;
    opacity: 0.5;
    
}

.icon {
    color: red;
    font-size: 100px;
    
}