*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.gioithieu {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}
.about-section{
    background:url(https://i.pinimg.com/564x/43/62/bc/4362bc563f5efcd1ba3f344403d3f50e.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}
.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}
.inner-container h2{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-size: 14px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
@media screen and (max-width: 1200px) {
    .inner-container{
        padding: 80px;
    }
}
@media screen and (max-width:600px) {
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}