.shop .category {
    padding: 30px;
    height: 100vh;
}
.chead h1 {
    font-size: 20px;
    margin-bottom: 20px;
}
.chead h1:nth-child(2) {
    opacity: 0.5;
    border-left: 3px solid rgba(0, 0, 0, 0.5);
    padding-left: 70px;
}
.shop .category .box {
    background-color: #f6f9fc;
    margin: 15px 0;
    padding: 5px 10px;
    transition: 0.5s;
    border-radius: 5px;
}
.shop .category img {
    width: auto;
    height: auto;
}
.shop .category .box:hover {
    background-color: #fff;
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}
.shop .box2 {
    margin-top: 100px !important;
    text-align: center;
}
.shop .category button {
    padding: 10px;
    background: none;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}
.shop .category h1{
    font-size: 20px;
    text-align: center;
}
.category span {
    margin: 10px 20px;
    font-size: 14px;
    text-transform: capitalize;
}
.shop .contentWidth {
    margin-left: 30px;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.shop .product img {
    width: 100%;
    height: 100%;
}
.shop .product {
    transition: 0.5s;
}
.shop .product:hover {
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}
.shop .viewall{
    font-size: 16px;
}
.shop .heading .heading-left h2 {
    font-size: 25px;
    margin: 5px;
    margin-bottom: 20px;
}
.btn-add {
    background: none;
    color: #e94560;
    font-size: 20px;
    transition: 0.5s;
    border: 1px solid rgb(3 0 71 / 9%);
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
.btn-add:hover {
    cursor: pointer;
    background-color: #e94560;
    color: #fff;
}
.price {
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    color: #e94560;
}
.rate i {
    font-size: 15px;
    color: #ffcd4e;
    margin: 5px 5px 5px 0;
}
.product-name {
    font-weight: 400;
    font-size: 17px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 245px;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: contain;
    overflow: hidden;
}
.card{
    cursor: pointer;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}
.card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.vew{
    color: #ed1912;
    font-size: 15px;
    font-weight: 500;
    text-decoration: underline;
}
.giamgia{
    width: 100px;
    font-size: 13px;
    text-decoration:line-through;
    /* color: #ed1912; */
    font-weight: 700;
}
.giamtoi{
    width: 90px;
    font-size: 11px;
    font-weight: 800;
    color: #b61d18;
}
.icon-sale{
    /* width: 100px; */
    color: #ed1912;
    font-size: 16px;
}

/* //pagiton */
@import url(https://fonts.googleapis.com/css?family=Roboto);


/* WooCommerce pagination */
.woocommerce-pagination {
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
	overflow:visible!important
}
.woocommerce-pagination ul{
  list-style:none;
  text-align:center;
  text-decoration:none;
  margin:2rem auto;
}
.woocommerce-pagination li span.current,.woocommerce-pagination li a{
width:50px;
height:50px;
line-height:50px;
display:inline-block;
}
.woocommerce-pagination li{
	box-shadow:0 3px 20px -0.2px rgba(0,0,0,0.1);transition:all 300ms cubic-bezier(0.250,0.100,0.250,1.000);transition-timing-function:cubic-bezier(0.250,0.100,0.250,1.000);
	color:#000;
	background:#fff;
	float:left;
}
.woocommerce-pagination li a{
	color:#000;
  text-decoration:none;
}
.woocommerce-pagination li span.current,.woocommerce-pagination li:hover{
	background: -webkit-linear-gradient(35deg, #fad8a6, #faa6e9);
	background:linear-gradient(35deg, #fad8a6, #faa6e9);
}
.woocommerce-pagination li span.current{
	color:#fff;
}
.woocommerce-pagination li a.next{
	width:auto!important;
	padding:0 2rem 0 0.8rem!important;
  position:relative;
}
.woocommerce-pagination li a.prev{
	width:auto!important;
	padding:0 0.8rem 0 2rem!important;
  position:relative;
}

/* WooCommerce pagination */
.woocommerce-pagination {
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
	overflow:visible!important
}
.woocommerce-pagination ul{
  list-style:none;
  text-align:center;
  text-decoration:none;
  margin:2rem auto;
}
.woocommerce-pagination li span.current,.woocommerce-pagination li a{
width:50px;
height:50px;
line-height:50px;
display:inline-block;
}
.woocommerce-pagination li{
	box-shadow:0 3px 20px -0.2px rgba(0,0,0,0.1);transition:all 300ms cubic-bezier(0.250,0.100,0.250,1.000);transition-timing-function:cubic-bezier(0.250,0.100,0.250,1.000);
	color:#000;
	background:#fff;
	float:left;
}
.woocommerce-pagination li a{
	color:#000;
  text-decoration:none;
}
.woocommerce-pagination li span.current,.woocommerce-pagination li:hover{
	background: -webkit-linear-gradient(35deg, #fad8a6, #faa6e9);
	background:linear-gradient(35deg, #fad8a6, #faa6e9);
}
.woocommerce-pagination li span.current{
	color:#fff;
}
.woocommerce-pagination li a.next{
	width:auto!important;
	padding:0 2rem 0 0.8rem!important;
  position:relative;
}
.woocommerce-pagination li a.prev{
	width:auto!important;
	padding:0 0.8rem 0 2rem!important;
  position:relative;
}
.next:after,.prev:before {
  content:'';
  position:absolute;
  font-family:FontAwesome;
  font-weight:400;
}
.prev:before{
	left:.5rem;
}
.next:after{
	right:.5rem;
}
.prev:before {
    vertical-align: middle;
    content: "\f060";
}
.next:after {
    vertical-align: middle;
    content: "\f061";
}

.view_all {
    padding: 10px;
    background-color: rgb(38, 159, 233);
    border-radius: 5px 5px;
    text-align: center;
}

.view_all :hover {
    padding: 15px;
    border-radius: 5px 5px;
    text-align: center;
}